<mat-card class="movie-card">
  <img src="{{ movie.img }}" alt="{{ movie.img }}" class="movieImg">
  <mat-card-header>
    <mat-card-title>
      <h3>{{movie.title}}</h3>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>{{ movie.year }}</p>
    <p>{{ movie.price }} $</p>
    <p>{{movie.descrShort}}</p>
  </mat-card-content>

  <!-- <button mat-button (click)="toggleDate()">
    <span *ngIf="dateFormat == 'shortDate'">+</span>
    <span *ngIf="dateFormat == 'fullDate'">-</span>
  </button> -->

  <button mat-button (click)="addMovie(movie)" ng-if="moviesComp" color="primary">Purchase</button>
  <button mat-button (click)="removeMovie(movie)" ng-if="chosenMoviesComp" color="warn">Remove</button>

</mat-card>
