<mat-card class="movie-card">    <!--  flex="30" *ngFor="let movie of movies; let idx = index" -->
  <!-- | filter:filterTerm-->
  <img src="{{ movie.img }}" alt="{{ movie.img }}" class="movieImg">
  <mat-card-header>
    <mat-card-title>
      <h3>{{movie.title}}</h3>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>{{ movie.year }}</p>
    <p>{{ movie.price }} $</p>
    <p>{{movie.descrShort}}</p>
  </mat-card-content>
  <button mat-button (click)="addMovie(movie)" color="primary">Purchase</button>

</mat-card>
