<!-- Header -->
<div class="content-container">
  <mat-toolbar>
    <span>Angu-Flix</span>
    <span class="spacer"></span>
    <span>My budget: {{getBudget()}}</span>
  </mat-toolbar>
</div>

<!-- Movies -->
<app-movies></app-movies>

<!-- Toolbar & Choosen Movies  -->
<app-chosen-movies></app-chosen-movies>



<!-- <mat-toolbar-row>
  <span>Third Line</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon">favorite</mat-icon>
  <mat-icon class="example-icon">delete</mat-icon>
</mat-toolbar-row>
</mat-toolbar> -->
