<div class="content-container">
  <!-- Title -->
  <mat-toolbar>
    <h3>Choose movies</h3>
    <span class="fill-remaining-space" color="accent"></span>
  </mat-toolbar>
</div>

<app-filters></app-filters>
<div class="container">
  <div class="list-container">
    <!-- <div class="filter-header" *ngIf="filterTerm?.length > 0">Filtering dogs by name: {{ filterTerm }}</div> -->
    <div class="cards-container" layout-wrap layout="row">
      <mat-card flex="30" *ngFor="let movie of movies; let idx = index" class="movie-card">
        <!-- | filter:filterTerm-->
        <img src="{{ movie.img }}" alt="{{ movie.img }}" class="movieImg">
        <mat-card-header>
          <mat-card-title>
            <h3>{{movie.title}}</h3>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>{{ movie.year }}</p>
          <p>{{movie.descrShort}}</p>
        </mat-card-content>
        <button mat-button (click)="addMovie(movie)" color="primary">Purchase</button>

      </mat-card>
    </div>
  </div>
</div>
