<div class="content-container">
  <!-- Title -->
  <mat-toolbar>
    <h3>Choose movies</h3>
    <h3>My budget: {{budget}}</h3>
    <span class="fill-remaining-space" color="accent"></span>
  </mat-toolbar>
</div>

<app-filters></app-filters>
<div class="container">
  <div class="list-container">
    <!-- <div class="filter-header" *ngIf="filterTerm?.length > 0">Filtering dogs by name: {{ filterTerm }}</div> -->
    <div class="cards-container" layout-wrap layout="row">
      <app-movie-card class="movie-card" flex="30" *ngFor="let movie of movies; let idx = index" [movie]="movie"></app-movie-card>

      <!-- <app-hero-child *ngFor="let hero of heroes" [hero]="hero" [master]="master"></app-hero-child> -->


    </div>
  </div>
</div>
