<!-- Filters Component-->
<div class="content-container">
  <mat-toolbar>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Movie title" name="name">
        <!--[(ngModel)]="addOwnerName"-->
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Year" name="age">
        <!--[(ngModel)]="ownerAge"-->
      </mat-form-field>

    </form>
    <span class="fill-remaining-space" color="accent"></span>
  </mat-toolbar>
</div>
